.navbar{
    margin: 0;
    border-radius: 0;
  }
  .navbar-toggle{
    display: inline-block;
    margin-left: 10px;
  }

  .nav-item{
    cursor:pointer;
  }

  .logo{
    display: block;
    float: left;
    width: 65px;
    height: 65px;
    border-radius: 5px;
  }
