#form-container {
    width: 100vw;
    height: 100vh;
    background: #16202a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#logo{
    border-radius: 20px;
}

#form-box {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius:5px;
    margin: 0 auto;
}


#form-box img#logo{
    display: block;
    width: 120px;
    height: 120px;
    margin: 10px auto;
}

.btn.btn-success{
    background-color:#26323e;
    color:#fff;
    border:none;
}

.btn.btn-success:hover{
    background-color:#15212a;

}

.label.label-danger{
font-size:15px;
}

.label.label-success{
font-size:15px;
}

.badge-danger{
    font-size:13px;
}


.forgot a {
    text-decoration: none;
    font-size: 15px;
}

.back{
    margin-top:5px;
    color:#15212a;
    border: 1px solid #15212a;;
}

.back:hover{
    color: #fff;
    background-color:#26323e;
}


@media (max-width: 800px) {
    #form-box {
        width: 90%;
    }
}