.menu {
    width: 0px;
    border-top: 1px solid #333;
    background-color: #222;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
 }
 
  .menu.menu-open {
     width: 220px;
 }
 
  .menu ul {
    list-style: none;
    padding: 0px;
 }
 
  .menu ul li.active {
    background-color: #080808;
 }
 
  .menu ul li a {
    display: block;
    color: #9d9d9d;
    padding: 10px 15px;
    white-space: nowrap;
 }
 
 .menu ul li a {
   display: block;
   cursor: pointer;
    color: #717d86;
    padding: 10px 15px;
    white-space: nowrap;
    text-decoration: none;
    font-weight:bold;
 }

 .menu ul li ul li a{
   text-indent: 5px;
 }

 .menu ul li ul li:hover{
   border-left: 3px solid #fff;

 }

 .menu ul li:hover a{
    color: #fff;
    background-color: #02abe4;
    border-left: 4px solid #fff;
 }

 .menu ul li a i {
   margin-right: 15px;
   font-size:15px;
 }
 

 .show-menu{
   overflow: hidden;
   height: 90px;
   transition: 1s;
 }
 
 .hide-menu{
   overflow: hidden;
   height: 0px;
   transition: 1s;
 }
